CITYPAY_PLUGIN_DIR=../citypay-paylink-magento
MAGENTO_PUBLIC_KEY=
MAGENTO_PRIVATE_KEY=
BASE_URL=http://localhost:8081/
ADMIN_USER=citypay
ADMIN_PASS=Password123!
ADMIN_EMAIL=admin@example.com
ADMIN_FN=Citypay
ADMIN_LN=Account
ENABLE_NGROK=1
NGROK_AUTHTOKEN=
