CITYPAY_PLUGIN_DIR=.
MAGENTO_PUBLIC_KEY=
MAGENTO_PRIVATE_KEY=
BASE_URL=http://localhost:8081/
ADMIN_USER=citypay
ADMIN_PASS=Password123!
ADMIN_EMAIL=admin@example.com
ADMIN_FN=Citypay
ADMIN_LN=Account
ENABLE_NGROK=1
NGROK_AUTHTOKEN=
ENABLE_HYVA_SETUP=0
HYVA_PRIVATE_PACKAGIST_URL=
HYVA_PRIVATE_PACKAGIST_TOKEN=
INSTALL_HYVA_THEME=0
HYVA_THEME_PACKAGE=hyva-themes/magento2-default-theme
APPLY_HYVA_THEME=0
FOLLOW_LOGS=1
LOG_SERVICES="nginx app"
