<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="payment_method_assign_data">
        <observer name="sample_payment_gateway_data_assign" instance="CityPay\Paylink\Observer\DataAssignObserver" />
    </event>
    <event name="sales_order_payment_place_start">
        <observer name="paylink_order_placement_observer_start" instance="CityPay\Paylink\Observer\OrderPlacementStartObserver" />
    </event>
    <event name="sales_order_payment_place_end">
        <observer name="paylink_order_placement_observer_end" instance="CityPay\Paylink\Observer\OrderPlacementEndObserver" />
    </event>
</config>