<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label class="label" data-bind="attr: {'for': getCode()}">

            <img src="https://citypay.com/static/img/logo-x500.png" alt="CityPay" style="vertical-align: middle" height="30"/>
            <span>&nbsp;&nbsp;&nbsp;</span>
            <img src="https://secure.citypay.com/paylink3/img/cs-logo-vi-large.gif" style="vertical-align: middle" width="35" />
            <img src="https://secure.citypay.com/paylink3/img/cs-logo-mc-large.gif" style="vertical-align: middle" width="35" />

            <br/>
            <div style="margin-left: 18pt; font-size: 90%;  ">
                Secure online card payments
            </div>
        </label>
    </div>

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>



        <div class="actions-toolbar">
            <div class="primary">

                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')}
                        ">
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>

        <p style="font-size: 80%; opacity: 60%; ">
            <img src="https://secure.citypay.com/paylink3/img/favicon-x32.png" width="20" style="display: inline; vertical-align: middle" />
            CityPay is a PCI-DSS level 1 certified payment provider
        </p>

    </div>
</div>
